#step1,
#step2,
#step3,
#step4 {
    padding-top: 0;
}

h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
}

#text {
    text-align: center;
    margin: 50px 0;
}



.input-group {
    position: relative;

}

input[type=radio] {
    font-size: 18px;
    padding-left: 12px;
    width: 20px;
    border: none;
    /* border-bottom: 1px solid #757575; */
    height: 20px;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.0);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.0);
    /* Firefox 3.5 - 3.6 */
    background-color: white;

}



.radio table {
    margin: 0 auto;
    padding-top: 30px;
}

.radio table td:nth-child(1) {
    padding-right: 20px;
}

@media (max-width: 910px) {
    .radio table td:nth-child(1) {
        padding-right: 00px;
    }
}

.radio p {
    margin: 0;
    font-weight: bold;
}

/* ---------- Radio Styling ---------- */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



input,
select {
    font-size: 18px;
    padding-left: 12px;
    width: 100%;
    border: none;
    color: white;
    /* border-bottom: 1px solid #757575; */
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.10);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.10);
    /* Firefox 3.5 - 3.6 */
    background-color: #2c2c2c;
}

.radio label {
    pointer-events: all
}

input:focus,
select:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label,
select:focus~label,
select:valid~label {
    top: -25px;
    left: 0px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

#finish {
    display: none;
    width: 33%;
    margin: 20px auto;
}

#finish input {
    background-color: #f16334;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    white-space: normal;
    height: 50px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* animations */
@-webkit-keyframes inputHighlighter {
    from {
        background: #0178bc;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #0178bc;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #0178bc;
    }

    to {
        width: 0;
        background: transparent;
    }
}


.btn {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 50px;
    border: 3px solid;
    border-radius: 50px;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.back_btn {
    color: #ca6565;
    float: left;
}

.back_btn:hover {
    color: white;
    background-color: #ca6565;
}

#back_btn {
    display: none;
}

.next_btn {
    color: #0e7cf4;
    float: right;
}

.next_btn:hover {
    color: white;
    background-color: #0e7cf4;
}

.submit_btn {
    color: #0e7cf4;
    margin: 0 auto;
    display: none;
    float: right;
}

.submit_btn:hover {
    color: white;
    background-color: #0e7cf4;
    ;
}

/* ----- Booking ----- */
@media (max-width: 800px) {
    h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    #text {
        text-align: center;
        margin: 20px 0 0 0;
    }

    label {
        font-size: 12px;
    }

    input,
    select {
        height: 40px;
    }

    #finish {
        width: 100%;
    }

}


#booking-bar {
    overflow: auto;
}


/* ---------- Details ---------- */

.p-box {
    overflow: auto;
    padding: 30px;
    margin: 30px 0;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.p-box p {
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
}

.half {
    padding-top: 20px;
}

@media (max-width: 800px) {
    .p-box p {
        padding-bottom: 10px;
    }

    .p-box p {
        font-weight: bold;
        margin: 0;
        padding-bottom: 30px;
    }

    .third {
        padding-top: 30px;
    }

    .radio table {
        padding-top: 10px;
    }

}





.c-box {
    overflow: auto;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}



/* ---------- Row padding ---------- */

#scroll-header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


#scroll-header section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#scroll-header section div {
    display: inline-block;
}


#scroll-header p {
    padding-right: 30px;
}


@media (min-width: 800px) and (max-width: 1200px) {
    #scroll-header p {
        font-size: 1rem;
    }

}


@media (min-width: 600px) and (max-width: 800px) {
    #scroll-header p {
        font-size: 1rem;
    }

}


@media (min-width: 400px) and (max-width: 600px) {
    #scroll-header p {
        padding-right: 20px;
        font-size: 0.8rem;
    }

}

@media (max-width: 400px) {
    #scroll-header p {
        padding-right: 10px;
        font-size: 0.7rem;
    }

}


#booking h4 {
    font-size: 16px;
    padding-top: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

/* ---------- Row padding ---------- */

.row-two .half:nth-child(1) {
    padding-right: 15px;
}

.row-two .half:nth-child(2) {
    padding-left: 15px;
}

.row-three .third:nth-child(2) {
    padding: 0 30px;
}

.row-three .quarter:nth-child(2) {
    padding: 0 30px;
}

.row-three {
    background-image: repeating-linear-gradient(135deg, #2c2c2c, #2c2c2c 3px, #161616 3px, #161616 6px);
    border: solid;
    border-color: white;
    border-width: 7px;
    /*background-image: linear-gradient(#f8faff, #f6f8fe);*/
    padding: 40px 20px;
    overflow: auto;
    border-radius: 10px;
}

@media (max-width: 800px) {

    .row-two .half:nth-child(1),
    .row-two .half:nth-child(2) {
        padding-right: 0px;
        padding-left: 0px;
    }

    .row-three .third:nth-child(2) {
        padding: 30px 0 0 0;
    }

    .row-three .quarter:nth-child(2) {
        padding: 30px 0 30px 0;
    }

    .row-three .quarter:nth-child(1) {
        padding: 30px 0 0 0;
    }

    .radio table td:nth-child(1) {
        padding-right: 20px;
    }

    .row-three {
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
    }

    td {
        font-size: 12px;
    }

}


/* ---------- Hide and seek ---------- */

#datediv {
    display: none;
}

#step1 {
    display: block;
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}

#step4 {
    display: none;
}

#step5 {
    display: none;
}

/* ---------- STEP 4 ---------- */
#checkout {
    background-image: linear-gradient(#f8faff, #f4f7fd);
    padding: 20px 20px 20px 20px;
    overflow: auto;
    border-radius: 10px;
}

#checkout h2 {
    margin-bottom: 10px;
}

#checkout h6 {
    margin: 0;
}

#checkout p {
    margin: 0;
}

#checkout table {
    width: 100%;
    margin: 0 auto;
}

#checkout table th {
    text-align: left;
    font-size: 12px;
}

#checkout #datetable td:nth-child(even) {
    float: left;
}

#checkout #persontable td:nth-child(1) {}

#checkout #persontable td:nth-child(2) {}

#checkout #persontable td:nth-child(3) {}



#checkout #white-bg {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.10);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.10);
    /* Firefox 3.5 - 3.6 */

}

#checkout #white-bg table td:nth-child(1) {
    width: 30%;
}

#checkout #white-bg table td:nth-child(2) {
    padding-left: 20px;
}

#checkout img {
    width: 100%;
}

.ghost-red {
     
}

.ghost-red:hover {
    color: white;
}

.ghost-red:focus {
    color: white;
}


@media (min-width: 800px) {}