#hero {
    background-attachment: fixed;
    background-image: url(../img/schmitten_40.jpg);
    background-position: center;
    background-size: cover;
}



#hero h1{
    font-size: 5rem;
    color: white;
}

#hero h2{
    font-size: 3rem;
    color: white;
}

#hero p {
    max-width: 600px;
}

#hero .btn_green {
        margin-right: 20px;
    }

#hero svg {
    transform: rotate(180deg);
    margin-bottom: -5px;
    position: absolute;
    bottom: 0;
    
}

@media (min-width: 1200px) {
    
    #hero .section{
        max-width: 1400px;
        padding: 200px 50px 250px 50px;
    }
}


@media (min-width: 600px) and (max-width: 1200px) {
    
    #hero .section{
        padding: 200px 50px 250px 50px;
    }
}


@media (max-width: 600px) {

    #hero .section{
        padding: 150px 20px 150px 20px;
    }
    
    
    #hero h1{
        font-size: 3rem;
        color: white;
    }
    
    #hero h2{
        font-size: 2rem;
        color: white;
    }
    
    #hero .btn_green {
        margin-right: 10px;
    }
    
}