#jumbo {
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    
}

#jumbo h1, #jumbo h2, #jumbo .breadcrumbs, #jumbo p  {
    color: white;
    
}


#jumbo .breadcrumbs {
    padding-bottom:25px;
}

#jumbo h1 {
    font-size: 4rem;
}

#jumbo h2 {
    font-size: 2rem;
}

#jumbo hr {
    width: 80px;
    height: 5px;
    background-color: #0178bc;
    border-top: none;
}

#jumbo a {
    font-size: 1rem;
    font-weight: bold;
}

#jumbo a {
    text-decoration: none;
}

#jumbo svg {
    transform: rotate(180deg);
    margin-bottom: -10px;
}

#description {
    background-color: #fff;
}

.white {
    background-color: white;
    color: black;
}

@media (min-width:600px) and (max-width:1400px)  {
 
    section, .section{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #jumbo h1{
        font-size: 3rem; 
    }
    
    #jumbo h2{
        font-size: 2rem; 
    }
    
    
}


@media (max-width: 600px) {
    
    #jumbo h1{
        font-size: 2rem; 
    }
    
    #jumbo h2{
        font-size: 1.5rem; 
    }
}
