#ratings {
    padding: 0; 
}


#ratings span {
    color: #ffe500;
    font-size: 40px;
}


#ratings h2 {
    color: white; 
    font-size: 40px;
    font-weight: bold;
}

#ratings p {
    color: #999999;
}

#ratings table {
    width: 100%
}

#ratings img {
    width: 50px;
}

#ratings th:nth-child(1){
    float: right;
}

#ratings th:nth-child(2){
    width: 15vh;
}

#ratings th:nth-child(3){
    float: left;
}





