#ski {
    background-color: #fff;
}

#ski .card{
    margin: 10px;
    padding-bottom: 30px;
}

#ski .card h5 {
    text-align: center;
    font-weight: bold;
    font-style: 
}


#ski .card img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}




#ski .content{
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 0px 10px 0px rgba(0,0,0,0.25);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.25);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#ski p{
    margin: 0;
    padding: 0px 10px;
    font-size: 0.9rem;
    color: #555555;
}




#ski button{
    margin: auto;
    border-radius: 20px;
    width: 100%;
    background-color: #fff;
    border: 0;
    color: #0178bc;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding: 20px;
    
}

#ski .icon {
    width: 300px;
    display:block;
    margin:auto;
    margin-top: -180px;
}
