#snowboard {
    background-color: #fff;
}

#snowboard .card{
    margin: 10px;
    padding: 50px;
}


#snowboard img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}


#snowboard .content{
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 0px 10px 0px rgba(0,0,0,0.5);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}




#snowboard h4{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 900;
    margin: 0;
    padding: 10px
}

#snowboard p{
    margin: 0;
    padding: 0px 10px;
    font-size: 0.9rem;
    color: #555555;
}




#snowboard button{
    margin: auto;
    border-radius: 20px;
    width: 100%;
    background-color: #fff;
    border: 0;
    color: #0178bc;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 10px;
    padding: 20px;
    
}

#snowboard .icon {
    width: 300px;
    display:block;
    margin:auto;
    margin-top: -180px;
}

@media (max-width: 600px) {
    
    #snowboard .card{
        margin: 10px;
        padding: 0px 0px 30px 0px;
    }
}